<div id="action">
  <div class="container">
    <h2>Register</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <div>
        <label for="username">Username</label>
        <input id="username" formControlName="username" required />
        <div *ngIf="username.touched && username.invalid">
          <small *ngIf="username?.errors?.required">Username is required.</small>
          <small *ngIf="username?.errors?.minlength"
            >Username must be at least 3 characters long.</small
          >
        </div>
      </div>

      <div>
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          required
        />
        <div *ngIf="password.touched && password.invalid">
          <small *ngIf="password.errors?.required">Password is required.</small>
          <small *ngIf="password.errors?.minlength"
            >Password must be at least 6 characters long.</small
          >
        </div>
      </div>

      <div>
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          required
        />
        <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
          <small *ngIf="confirmPassword.errors?.required">Password is required.</small>
          <small *ngIf="confirmPassword.errors?.minlength"
            >Password must be at least 6 characters long.</small
          >
        </div>
      </div>

      <div class="actions">
        <span>Already a member? Let's <a routerLink="/login">log you in</a>.</span>
        <button type="submit" [disabled]="registerForm.invalid">Register</button>
      </div>
    </form>
  </div>
</div>
